@font-face {
	font-family: "Roboto";
   	src: url('../Fonts/RobotoCondensed-Light.ttf');
}

@font-face {
	font-family: "RobotoCondensed-Bold";
   	src: url('../Fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
	font-family: "Roboto-Bold";
   	src: url('../Fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: "AgencyBF";
   	src: url('../Fonts/agency_fb.ttf');
}

@font-face {
	font-family: "ILove";
   	src: url('../Fonts/i-love-arrow.ttf');
}
body{
	font-family: "AgencyBF";
	font-size: 20px;
}
/* HEADER */
.navbar-inverse{
	background-color: #00695c;
	border-color: #004d40;
}

.navbar-inverse .navbar-brand{
	font-family: "AgencyBF";
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a{
	font-family: "AgencyBF";
	color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #26a69a;
}

.navbar{
	margin-bottom: 0;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: #26a69a;
}

.navbar-inverse .navbar-toggle{
	border-color: transparent;
}

.tituloCabecera{
	font-family: "AgencyBF";
	font-size: 63px;
}

.textoCabecera{
	font-size: 21px;
    font-weight: 200;
}

.cabecera{
	margin-top: 80px;
	padding-bottom: 50px;
	color: #fff;
}

.letras{
	padding-top: 50px;
}

.negrita{
	font-weight: bold;
}

.foto{
	float: left;
}

h3{
	font-family: "AgencyBF";
	font-size: 30px;
}

a{
	font-family: "AgencyBF";
	color: #000;
}

a:hover{
	text-decoration: none;
	color: #000;
}

.negrita{
	font-weight: bold;
}

.logo{
	float: left;
	width: 50px;
	height: 50px;
	opacity: 0.6;
}

.titulo{
	text-align: center;
}

#servicios{
	padding-top: 35px;
}

.caja-servicios{
	text-align: center;
}

.contenido-fluido{
	background-color: #26a69a;
	padding-bottom: 10px;
}

.comunicacion
{
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.iconosSociales{
	opacity: 0.8;
	padding: 10px;
}

.iconosSociales:hover{
	opacity: 0.99;
}

.pie{
	font-family: "AgencyBF";
	text-align: center;
	padding: 10px;
}

@media (min-width: 768px){
	.navbar-nav{
		float: right;
	}
}

@media (max-width: 768px){
	.tituloCabecera{
		font-size: 36px;
	}

	.cabecera{
		text-align: center;
	}

	.letras{
		padding-top: 0px;
	}
}

@media (max-width: 993px){
	.tituloCabecera{
		font-size: 36px;
	}
}